<form class="login-form" [formGroup]='loginForm' (ngSubmit)="onSubmit()">
    <div class="card rounded-1">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" id="email" maxlength="30" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" maxlength="30" id="password" class="form-control" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div *ngIf="this.isError">
                <div class="alert alert-danger" role="alert">
                    Email or password is invalid.
                </div>
            </div>
            <div class="form-group register">
                <a routerLink='/register'>Don't have an account? Create one!</a>
            </div>
        </div>
    </div>
</form>