.nav-item {
    color: white;
    padding: 5px;
}

#logout:hover {
    cursor: pointer;
}

.input-group.mb-3 {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 500px;
    margin: auto;
}

.card {
    width: 500px;
    margin: auto;
}

.list-group {
    border: none;
}

.container {
    padding: 10px;
}

.fa {
    float: right;
    padding: 5px;
}

.fa:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}
